/* You can add global styles to this file, and also import other style files */

* {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
  }
  
  html, body {
    
    background: white;
    margin: 20px;
    color: #3e4144;
    -webkit-font-smoothing: antialiased;
  }
  
  
  dd {
    font-weight: bold;
  }
  
  button {
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
  }
  
  button:hover {
    background-color: #3e4144;
  }
  
  button:focus{ 
    outline: none;
  }
  
  .p-1 {
    padding: 1px;
  }

  .seccion{
    display: flex;
  }
  .lista{
    flex-grow: 2;
  }
  .formulario{
    flex-grow: 1;
  }
  .lista h3{
    text-align: center;
  }
  .formulario{
    background: #ea76c1;
  }
  .formulario h3{
    text-align: center;
  }
  .formulario form{
    text-align: center;
  }
  .boton{
    text-align: center;
    margin-top: 1.5rem;
  }
  .formulario input{
    margin: .5rem;
  }
  .lista{
    background: rgb(99, 109, 247);
  }